.head{
    width:100%;
    min-height:50px;
    line-height:50px;
    margin-bottom:20px;
    text-align:center;
}
.textmod{
    width:20%;
    background-color:green;
    margin-left:40%;
    padding:15px;
    border-radius:10px;
    color:white;
}